# Front-end
# Laisser vide en local avec Vite proxy, ou renseigner l'URL publique du backend en production
VITE_CONTACT_API_URL=
VITE_GA_MEASUREMENT_ID=G-8MGJ0K0HDL

# Server
CONTACT_PORT=3001
CONTACT_TO_EMAIL=hello.lechappeedemma@gmail.com
CONTACT_FROM_EMAIL=onboarding@resend.dev
RESEND_API_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=ChIJm2NF0mML5kcRXlMfFIy36ew
